
@{
    ViewBag.Title = "Print Roster";
}
<div class="panel-heading">Print Roster Page</div>
<div class="panel-body" style="height:500px">
    <div id="searchDiv">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="LMSCourseId" class="cols-sm-2 control-label">Course Name</label>
                    <div class="cols-sm-10">
                        @Html.DropDownList("LMSCourseId", ViewBag.ddCourses as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ClassDate" class="cols-sm-2 control-label">Class Date</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group date">
                                <input type="text" id="ClassDate" name="ClassDate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @*// Changed  Business Unit to  Location 11/21/2016
                    <label for="LMSBusinessUnitId" class="cols-sm-2 control-label">Business Unit</label>*@
                    <label for="LMSBusinessUnitId" class="cols-sm-2 control-label">Location</label>
                    <div class="cols-sm-10">
                        @Html.DropDownList("LMSBusinessUnitId", ViewBag.ddBusinessUnits as IEnumerable<SelectListItem>, new { @class = "show-tick" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="" class="cols-sm-2 control-label"></label>
                    <div class="cols-sm-10">
                        <button id="btnPrint" class="btn btn-primary btn-large"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="printdiv" style="display:none">
        <table style="width:100%">
            <tr>
                <td width="40%"><img src="~/Images/uaclogo.jpg" style="height: auto;width: 350px;" /></td>
                <td width="30%" ></td>
                @* adding here 12/1/2016*@
                <td style="text-align:center" ><label style="font-weight: bold">UNIVERSAL ALLOY CORPORATION<br/><label id="lblBU"></label><br/> TRAINING CLASS ATTENDANCE FORM</label><br/><br /><label>Page 1 of ____</label></td>        
            </tr>
            
            <tr>
                <td><label id="lblDate">Date: _____________________</label></td>
                <td><label>Training Time(hours/minutes)_____________________</label><br /></td>                
              @*  <td><label>Read and Sign:</label></td>*@
            </tr>
            <tr>
                <td><label id="lblCls">Class Title:</label><br /></td>
            
                @*// Changed  Business Unit to  Location 11/21/2016
                <td><label id="lblBU">Business Unit :</label></td>*@
                @*<td><label id="lblBU">Location :</label></td>*@
            </tr>
            <tr>
                <td><label>Instructor:_____________________</label><br /><br /></td>
                <td><label>Instructor Signature:_____________________</label><br /><br /></td>                                     
            </tr>            
        </table>
        <table id="printtable" style="border-collapse:collapse; border:1px solid black;width:100%" border="1">
            <thead>
                <tr>                    
                    <th width="400px">PRINT NAME</th>
                    <th>ATTENDEES SIGNATURE</th>
                    <th>DEPARTMENT or SUPERVISOR</th>
                </tr>
            </thead>
            <tbody id="ptbody"></tbody>
        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/PrintRoster")
}